<!DOCTYPE html>
<html lang="en"></html>
<head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">

        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a  class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item active">
                        <a  class="nav-link" href="#">Hobbies</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <img src="/images/reading-icon2.jpg" alt="Reading Icon" width="90%" height="100%">
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <img src="/images/writing-icon.jpg" alt="Writing Icon" width="80%" height="100%">
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <img src="/images/swimming-icon.jpg" alt="Swimming Icon" width="90%" height="100%">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2 text-center">
                <h5> Reading </h5>
            </div>
            <div class="col-2"></div>
            <div class="col-2 text-center">
                <h5> Writing stories, skits & poems </h5>
            </div>
            <div class="col-2"></div>
            <div class="col-2 text-center">
                <h5> Swimming </h5>
            </div>
        </div>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-3"></div>
            <div class="col-2">
                <img src="/images/learning-icon.jpg" alt="Learning Icon" width="90%" height="100%">
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <img src="/images/music.jpg" alt="Listening Music Icon" width="100%" height="100%">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-2 text-center">
                <h5> Learning new things </h5>
            </div>
            <div class="col-2"></div>
            <div class="col-2 text-center">
                <h5> Listening music </h5>
            </div>
        </div>
    </div>
    </body>
</html>