<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/html/certifications_info_page.html">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/html/hobbies.html">Hobbies</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <meta name="viewport" content="width=device-width, initial-scale=1">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                            <div class="col-md-3">
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-2">
                                <img src="/images/fb_profile.jpg" alt="Profile Picture" class="rounded-circle" width="100%" height="100%">
                        </div>
                        <div class="col-1"></div>
                        <div class="col-4">
                            <p>
                                I am actively searching for job in software development. <br> I have recently completed Software development course, learning Java, HTML5, CSS3, basic C# programming.
                            </p>
                            <a class="btn btn-info btn-rounded mycolor" target="_blank" href="/files/cv.pdf ">View my Resume</a>
                            <!--<button type="button" class="btn btn-info btn-rounded">View my Resume</button>-->
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <br>
            </div>
        </div>


        <div class="row">
            <br>
        </div>
        <footer class="footer">

            <div class="container d-flex justify-content-center">
                <a href="https://www.facebook.com/" class="btn btn-link" target="_blank">
                    <i class="my-color fab fa-facebook-square fa-4x"></i>
                </a>
                <a href="https://www.linkedin.com/in/madhura-bhujbal" class="btn btn-link" target="_blank">
                    <i class="fab fa-linkedin fa-4x"></i>
                </a>
                <a href="mailto:madhura.bhujbal@gmail.com" class="btn btn-link" target="_blank">
                    <i class="fas fa-envelope-square fa-4x"></i>
                </a>
                <a href="https://github.com/madhurabhujbal" class="btn btn-link" target="_blank">
                    <i class="fab fa-github-square fa-4x"></i>
                </a>
                <div class="col-1"></div>
            </div>
        </footer>
    </body>
</html>